.pageBackground {

  background: #353535;
}
.container-login {

    width: 70%;
    height: 70%;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logo-panel {

}

.login-panel {

}

.container {

  width: 95%;

}

td {
 
  font-size: 85%;  

}

.fix-width {

  display: block;
  width: 150px;

}



@import url("https://fonts.googleapis.com/css?family=Pacifico");

body {
  background-color: #f0f0f0;
}
h4, h5 {
  font-family: 'Pacifico', cursive;
}

h4 {
  color : #40a8a7;
  /* Turquesa oscuro: color : #0D8080;*/
}

nav .nav-wrapper form, nav .nav-wrapper form .input-field{
height: 100%;
}

.card-info, .card__meta a {
    color: #3299BB !important;
    display: inline-flex;
    vertical-align: middle;
    line-height: 2;
    font-size: 1rem;
}
.card__meta i.small {
    font-size: 1.5rem;
}
.card .card-content .card-title {
    line-height: 34px;
}
.card__date {
    background: #08c;
    position: absolute;
    top: 6px;
    right: 6px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 13px;
    font-weight: bold;
    padding-top: 7px;
}
.card__date__day {
  display: block;
  font-size: 14px;
}
.card__date__month {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
}

.card .card-content .card-title {
    color: #0D8080 !important;
    line-height: 18px;
}

.card .card-title {
    
    font-size: 18px;
    font-weight: 400;
}

.card .card-content p{
  color: #1E1E1E;
  font-size: 13px;
}

.collapsible{
  background: #fff;
}

.card-row {
  margin-bottom: 4px;
    margin-top: 4px;
}
.card-action i {
    vertical-align: text-bottom;
    font-size: 21px;
}



.collapsible-header {
    background-color: #3299BB;
    color: #fff;
}

.filter-container ul {
    padding: 1rem 2rem;
}

.filter-container ul li {
    display: block;
    padding: 16px 0 0;
}

.search-title-filter {
  background-color: #3299BB;
  color: #fff;
}

nav  {
    background-color: #40a8a7;
    border-color: #E7E7E7;
    
}

nav ul>li>a, nav .brand-logo  {
  color: #fff;
}

nav .brand-logo {
  font-size: 1.4em !important;
}

#container {
  padding: 20px 10px;
}

.user-input {

  width: 60%;
}
