{% load static %}
{% load materializecss %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{% static 'css/materialize.css' %}" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/my.css' %}" rel="stylesheet" />


  <title>SlaSupport - Ocorrências</title>
</head>

<body class="blue-grey darken-3">
  <div class="container-login z-depth-4 valign-wrapper grey lighten-4 ">
    <div class="row">
      <!-- PAINEL LOGO APLICAÇÃO -->
      <div class=" col s5 offset-s1 m11 l6 ">
        <div class="logo-panel right-align">
            <h2><a href="{% url 'home' %}" class="brand-logo blue-grey-text text-darken-3"><i class="material-icons large">timeline</i>
              <span class="red-text">SLA</span>Support</a></h2>
              <p>Sistema de abertura e acompanhamento de Ocorrências Internas</p>
          <b>POWRED BY: Django Web Framework</b>
        </div>
      </div>
      <!-- ACESSO -->
      <div class="col s5 m11 l6 center">              
        <form class="col s12" method="post">
            {% csrf_token %}
           <div class="row">
              <div class="login-title left"><h5>ACESSO RESTRITO</h5>
                <span>Efetue login para acessar o Sistema.</span>
              </div>
            <div class="input-field col s5 offset-s1 m10 l10">
              {{ form|materializecss }}
              <button class="waves-effect waves-light btn left blue-grey darken-3">Sign in</button>
            </div>
            <div>
              
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="{% static 'js/materialize.js' %}"></script>
</body>