<table>
<thead>
    <tr>
        <th class="center">PROBLEMA</th>
        <th class="center">TIPO</th>
        <th class="center">SLA</th>
        <th class="center">ORIGEM</th>
    </tr>
 </thead>
<tbody>
 {% for cat_problema in cat_problemas %}
<tr>
    <td class="center">
        <p> 
           <label for="id_categoria_problema_{{cat_problema.id}}">
                 <input type="radio" name="categoria_problema" value="{{cat_problema.id}}" class="center" id="id_categoria_problema_{{cat_problema.id}}" required="">
                    <span>{{cat_problema.desc_categoria_problema}}</span>
            </label>
        </p>
    </td>
    <td class="center">{{ cat_problema.desc_categoria_problema|upper }}</td>
    <td class="center">{{ cat_problema.sla|upper }}Hrs</td>
    <td class="center">{{ cat_problema.origem|upper }}</td>
</tr>
{% endfor %}
</tbody>
</table>



