{% for cat_problema in cat_problemas %}
<tr>
    <td class="center">
        <p>
            <label for="id_categoria_problema_{{cat_problema.id}}">
                <input name="group{{cat_problema.id}}" value="{{ cat_problema.desc_categoria_problema }}" type="radio" id="id_categoria_problema_{{cat_problema.id}}"/>
                <span class="black-text">{{ cat_problema.problema__desc_problema|upper }}</span>
            </label>
        </p>
    </td>
    <td class="center">{{ cat_problema.desc_categoria_problema|upper }}</td>
    <td class="center">{{ cat_problema.sla|upper }}Hrs</td>
    <td class="center">{{ cat_problema.origem|upper }}</td>
</tr>
{% endfor %}




