{% extends 'base.html' %}

{% block jshead %}
    <script>
        // Tooltips
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.tooltipped');
            var instances = M.Tooltipage_obj.init(elems);
        });
    </script>
{% endblock jshead %}

{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            <a onload="M.toast({html: '{{ message }}'})"></a>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
{% endif %}

<h6 class="center"> {{ object_list | length }} Ocorrências em aberto em {% now "SHORT_DATE_FORMAT" %}
</h6>

<div class="row container">
  <div class="col s12 m12 card-panel">
    {% if chamado %}
    <table class="striped">
      <thead>
        <tr>
          <th class="center">CHAMADO<br>ÁREA </th>
          <th class="center">USUÁRIO<br>RAMAL</th>
          <th class="center">DATA ABERTURA</th>
          <!-- <th class="center">ÁREA</th> -->
          <th class="center">PROBLEMA</br>TIPO</th>
          <th class="center">UNIDADE - LOCAL<br>DESCRIÇÃO</th>
          <th class="center">SLA</th>
          <th class="center"><span style="padding: 80%">AÇÃO</span></th>
          <th></th>
          <th></th>

        </tr>
      </thead>
      <tbody>
        {% for chamados in chamado %}
        <tr>
          <td class="center">Nº.: {{ chamados.id }} </br> {{ chamados.area }}</td>
          <td class="center">{{ chamados.criador.first_name }} </br> {{ chamados.ramal }}</td>
          <td class="center">{{ chamados.dt_abertura}}</td>
          <!--<td class="center">{{ page_obj.area}}</td>-->
          <td class="center">{{ chamados.problema }}</br>{{ chamados.categoria_problema }}</td>
          <td>
            <div class="center">
              <span class="blue-grey-text text-darken-3"><b>{{ chamados.unidade }} - {{ chamados.local }}</b></span>
            </div>
            <div class="divider"></div>
            <div class="center">
              {{ chamados.desc_problema |truncatewords:15 }}
            </div>
          </td>
          <td class="center fix-width">
            <i class="material-icons yellow-text text-accent-5">check_circle</i><br>
            {% now "d-m-Y H:i:s" %}
          </td>
          <td><a href="#" class="blue-grey-text text-darken-3"><i class="material-icons"><span style="padding: 80%">search</span></i></a></td>
          <td><a href="#" class="blue-grey-text text-darken-3"><i class="material-icons">edit</i></a></td>
          <td><a href="#" class="blue-grey-text text-darken-3"><i class="material-icons">delete</i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
<div class="browser-default pagination center">
  {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
    {% else %}
    <li class="disabled"><i class="material-icons">chevron_left</i></li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="active blue-grey darken-3"><a href="#!">{{ i }}</a></li>
    {% else %}
    <li class="waves-effect "><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
    {% else %}
    <li class="disabled"><i class="material-icons">chevron_right</i></li>
    {% endif %}
  </ul>
  {% endif %}
</div>

<!--  Inicio Float Button Add Chamado  -->
<div class="fixed-action-btn">
  <a href="{% url 'chamado_add' %}" class="btn-floating btn-large red pulse">
    <i class="large material-icons tooltipped" data-position="left" data-tooltip="Criar Nova Ocorrência">add</i>
  </a>
</div>
{% endblock content %}

