{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% load materializecss %}

{% block jshead %}
{% comment %} //jquery CND 3.3.1 {% endcomment %}
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
 </script>

<script>
$(document).ready(function() {
    $( "#tabDivForm" ).hide()
});
</script>

{% comment %} ELEMENTARY JQUERY PARA ATIVAR O <select> {% endcomment %}
<script>
$(document).ready(function () {
    $('select').formSelect();
});
</script>

    <script>
        // $.ajax({
        //     url: "{% url 'ajax_content_details' %}",
        //     dataType: "json",
        //     success: function (data) {
        //         $.each(data, function (key, value) {
        //             $('#id_area')
        //                 .append($("<option></option>")
        //                     .attr('value', value.pk)
        //                     .text(value.fields.desc_area));
        //         });
        //     }
        // });
    </script>

    {% endblock jshead %}

    {% block content %}

    <div class="row card-panel">
        <div class="input-field col s6">
            <input disabled placeholder="{{ user.first_name|upper }} {{ user.last_name|upper }}" id="full_name" type="text"
                class="validate">
            <label for="full_name">USUARIO</label>
        </div>
        <div class="input-field col s6">
            <input disabled placeholder="FILIAL 11 - TIJUCA/RJ" id="local_name" type="text" class="validate">
            <label for="local_name">FILIAL ATENDIMENTO</label>
        </div>
    </div>
    <form class="row card-panel" method="post" id="chamadoForm">
        {% csrf_token %}
        <div class="input-field col s1 m6 l6">
            {{ form.area }}
            {{ form.area.label_tag }}
        </div>
        <div class="input-field col s1 m6 l6">
            {{ form.problema }}
            {{ form.problema.label_tag }}
        </div>
        <div id="tabDivForm" class="input-field col s1 m12 l12">
            {{ form.categoria_problema }}
        </div>
        <div id="tabDivForm" class="input-field col s1 m12 l12">
            {{ form.desc_problema|materializecss }}
        </div>
        <div class="col s12">
            <button href="{% url 'home' %}" class="btn waves-effect waves-light red">Cancelar</button>
            <button class="btn waves-effect waves-light light-blue right" type="submit"  value="save">
                Salvar
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
{% endblock content %}


{% block extra_js %}
<script>
$('#id_area').change(function () {

    var areaId = $(this).val();
    $('#id_problema').formSelect().empty();
    $.ajax({
        url: "{% url 'ajax_content_details' %}",
        data: {
            'problema': areaId
        },
        success: function (data) {
            console.log(data);
            $(document).ready(function () {
                $('#id_problema').formSelect();
             });
             $('#id_problema').html(data);
       }
    });
});

 $("#id_problema").change(function () {
    var problemaId = $(this).val();
    $(document).ready(function () {
        $('#tabDivForm').show();
        $('#tab_categoria_problema tbody').empty();
    });
    $.ajax({
        url: "{% url 'ajax_content_details' %}",
        data: {
            'cat_problema': problemaId
        },
        success: function (data) {
            console.log(data);
            $('#id_categoria_problema').html(data);
        }
    });
});
// $("#id_problema").change(function () {
//     var problemaId = $(this).val();
//     $(document).ready(function () {
//         $('#tabDivForm').show();
//         $('#tab_cat_problemas tbody').empty();
//     });
//     $.ajax({
//         url: "{% url 'ajax_content_details' %}",
//         data: {
//             'cat_problema': problemaId
//         },
//         success: function (data) {
//                         console.log(data);

//             data.forEach(function(val) {
//                 $('#tab_cat_problemas').append(
//                     '<tr>'+
//                     '<td class="center active">'+
//                         '<p><label class="black-text">' +
//                             '<input name="group1" type="radio"/><span>' + val.problema__desc_problema + '</span>'+
//                         '</label></p>'+
//                     '</td>' +
//                     '<td class="center">' + val.desc_categoria_problema + '</td>' +
//                     '<td class="center">' + val.sla + '</td>' +
//                     '<td class="center">' + val.tipo_manutencao + '</td></tr>');
//             });
//         }
//     });
// });

</script>
{% endblock extra_js %}
