{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% load staticfiles %}
{% load materializecss %}

{% block jshead %}


<script>
$(document).ready(function() {
  $('#tab_cat_problemas').hide()
});
</script>

{% comment %} ELEMENTARY JQUERY PARA ATIVAR O <select> {% endcomment %}
<script>
$(document).ready(function () {
    $('select').formSelect();
});
</script>
{% endblock jshead %}

{% block content %}
    <div class="row card-panel">
        <div class="input-field col s6">
            <input disabled placeholder="{{ user.first_name|upper }} {{ user.last_name|upper }}" id="full_name" type="text"
                class="validate">
            <label for="full_name">USUARIO</label>
        </div>
        <div class="input-field col s6">
            <input disabled placeholder="FILIAL 11 - TIJUCA/RJ" id="local_name" type="text" class="validate">
            <label for="local_name">FILIAL ATENDIMENTO</label>
        </div>
    </div>
    <form class="row card-panel" method="post" action="." id="chamadoForm" novalidate>
        {% csrf_token %}
       
        {{ form.non_field_errors }}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}
        
             
            <div class="input-field col s1 m6 l6">
                <i class="material-icons prefix">people</i>
                {{ form.area }}
                <label>ÁREA ATENDIMENTO</label>
            </div>
            <div class="input-field col s1 m6 l6">
                 <i class="material-icons prefix">build</i>
                {{ form.problema }}
                <label>PROBLEMA</label>
            </div>
            <div id="tab_cat_problemas" class="input-field col s1 m12 l12">
                <table>
                    {% for tipo in form.categoria_problema %}
                            <tr>
                                <td>
                                    <p>
                                        <label for="{{ tipo.id_for_label }}">
                                                {{ tipo.tag }}
                                            <span>{{ tipo.choice_label }}</span>
                                        </label>
                                    </p>
                                </td>
                            </tr>
                    {% endfor %}
                </table>
            </div>
            <div  class="input-field col s1 m12 l12">
                {{ form.desc_problema }}
                {{ form.desc_problema.label_tag|upper|safe }}
            </div>
            <div class="input-field col s1 m3 l3">
                <i class="material-icons prefix">person</i>
                {{ form.contato }}
                <label>CONTATO</label>
            </div>
            <div class="input-field col s1 m3 l3">
                <i class="material-icons prefix">business</i>
                {{ form.ramal }}
                <label >RAMAL</label>
            </div>
            <div class="input-field col s1 m3 l3">
                <i class="material-icons prefix">business</i>
                {{ form.unidade }}
                <label >UNIDADE</label>
            </div>
            <div class="input-field col s1 m3 l3">
                <i class="material-icons prefix">place</i>
                {{ form.local }}
                <label >LOCAL</label>
            </div>
             <div class="input-field col s1 m6 l6">
                <i class="material-icons prefix">rss_feed</i>
                {{ form.status_chamado }}
                <label >SITUAÇÃO</label>
            </div>
        <div class="col s12">
            <a href="{% url 'home' %}" class="waves-effect waves-light btn red">Cancelar</a>
            <button class="btn waves-effect waves-light light-blue right" type="submit"  value="save">
                Salvar
                <i class="material-icons right">send</i>
            </button>
        </div> 
    </form>
{% endblock content %}


{% block extra_js %}
    <script>
        $('#id_area').change(function () {

            var areaId = $(this).val();
            $('#id_problema').formSelect().empty();
            $.ajax({
                url: "{% url 'ajax_content_details' %}",
                data: {
                    'problema': areaId
                },
                success: function (data) {
                    $(document).ready(function () {
                        $('#id_problema').formSelect();
                    });
                    $('#id_problema').html(data);
            }
            });
        });

        $("#id_problema").change(function () {
            var problemaId = $(this).val();
            $(document).ready(function () {
            $('#tab_cat_problemas').show();
            $('#tab_cat_problemas').empty();
            });
            $.ajax({
            url: "{% url 'ajax_content_details' %}",
            data: {
                'cat_problema': problemaId
            },
                success: function (data) {
                    console.log(data)
                    $('#tab_cat_problemas').empty();
                    $('#tab_cat_problemas').html(data);
                }
            });
        });
    </script>
{% endblock extra_js %}
