
<!DOCTYPE html>
<html lang="pt-br">
{% if user.is_authenticated %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" rel="stylesheet" />
    <link href="{% static 'css/my.css' %}" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>

    {% block jshead %}
    {% endblock jshead %} 
    
    <title>SLAQuick - Ocorrências</title>
</head>
<body class="grey lighten-4">
    <nav>
        <div class="nav-wrapper blue-grey darken-3">
            <ul class="right">
                <li><i class="material-icons red-text">person_pin</i></li>
                <li><a href="http://127.0.0.1:8000/admin" class="left">{{ user.first_name }} {{ user.last_name }}</a></li>
                <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
            </ul>
            <a href="{% url 'home' %}" class="brand-logo center"><i class="material-icons large">timeline</i>
                <span class="red-text">SLA</span>Support</a>
            <ul class="left">
                <li>
                    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large left white"><i class="material-icons blue-grey-text text-darken-3">menu</i></a>
                </li>
                <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
                <li><a href="#"><i class="material-icons">search</i></a></li>
            </ul>
        </div>
    </nav>

    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view blue-grey darken-3">
                <div class="background blue-grey darken-3 center">
                    <a href="{% url 'home' %}" class="brand-logo large"><i class="material-icons large grey-text">timeline</i><span
                            class="red-text">SLA</span>Quick</a>
                </div>
                <a href="#user"><img class="circle" src="{% static 'img/user.jpg'%}"></a>
                <a href="#name"><span class="grey-text name">Marlon Macedo</span></a>
                <a href="#email"><span class="grey-text email">marlon.macedo@superprix.com.br</span></a>
            </div>
        </li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="{% url 'chamado_add' %}">Third Link With Waves</a></li>
    </ul>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>


    {% block extra_js %}
    {% endblock extra_js %}

<script src="{% static 'js/materialize.js' %}"></script>
</body>
</html>
{% else %}
<script> window.location.replace("http://127.0.0.1:8000/acesso/login"); </script>
{% endif %}