{% load static %}
<nav>
    <div class="nav-wrapper blue-grey darken-3">
        <ul class="right">
            <li><i class="material-icons red-text">person_pin</i></li>
            <li><a href="http://127.0.0.1:8000/admin" class="left">{{ user.first_name }} {{ user.last_name }}</a></li>
            <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
        </ul>
        <a href="{% url 'home' %}" class="brand-logo center"><i class="material-icons large">timeline</i>
            <span class="red-text">SLA</span>Quick</a>
        <ul class="left">
            <li>
                <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large left white"><i class="material-icons blue-grey-text text-darken-3">menu</i></a>
            </li>
            <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
            <li><a href="#"><i class="material-icons">search</i></a></li>
        </ul>
    </div>
</nav>