{% load static %}
<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view blue-grey darken-3">
            <div class="background blue-grey darken-3 center">
                <a href="{% url 'home' %}" class="brand-logo large"><i class="material-icons large grey-text">timeline</i><span
                        class="red-text">SLA</span>Quick</a>
            </div>
            <a href="#user"><img class="circle" src="{% static 'img/user.jpg'%}"></a>
            <a href="#name"><span class="grey-text name">Marlon Macedo</span></a>
            <a href="#email"><span class="grey-text email">marlon.macedo@superprix.com.br</span></a>
        </div>
    </li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="{% url 'chamado_add' %}">Third Link With Waves</a></li>
</ul>